html {
	background-color: #e5e5e5;
  	font-family: 'Lantinghei SC', 'Oxygen', sans-serif;
}

body {
	position:relative;
}

/* Site Header----------- */
header {
	background-size: 100% 100%;
	color:#FFFCEE;
	height:250px;
	position: relative;
}

header h1 {
	font-size: 80px;
	left:50px;
	position: absolute;
}

.header-about {
	background-image: url(../img/surf.jpeg);	
}

.header-contact {
	background-image: url(../img/sea.jpg);
}

/* Navigation ----------- */
.slicknav_menu, #menu {
	display:none;
}

#navigation-full {
	bottom: 0px;
	float:right;
	font-family:'Lantinghei SC', 'Bitter', serif;
	height:30px;
	list-style: none;
	position: absolute;
	right:20px;
}

#navigation-full li {
	display: inline;
	margin: 0 20px;
	text-align: justify;
}

#navigation-full a {	
	color:#FFFCEE;
	text-decoration: none;
}

#navigation-full a:hover {
	background-color: #e8e1d7;
	color: black;
}

/* Profile Photo----------- */
.photo {
	border-radius:50%;
	display:block;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	width: 250px;
}

/* Text content ----------- */
.paragraph {
	font-size: 14px;
	margin:0 auto;
	text-align: center;
	width:90%;
}

.paragraph p {
	display: inline-block;
	padding: 0 15px; 
}

.intro, .second, .passions{
	text-align: justify;
	width:30%;
}

.passions {
	padding-right: 0px;
}


/* Responsive for mobile ----------- */
@media only screen and (max-device-width: 736px) {
/* Styles */
#navigation-full {
	display: none;
}

.slicknav_menu {
	display:block;
}

header h1 {
	font-size: 60px;
	left:600px;
	color: #898177;
}

.paragraph p{
	font-size: 26px;
	margin: 14px auto;
	width:90%;
}

.photo {
	height:350px;
	width: 350px;
}
