html {
	font-size: 1em;
	min-height: 100%;
	min-width: 100%;
	height: 100%;
	width: 100%
}

.content {
	font-family: 'Lantinghei SC', 'Oxygen', sans-serif;
	position: fixed;
	text-align: center;
	width: 100%;
	top:27vh;
	margin-bottom: 1.250em;
}

.home-background {
	background-image:url(../img/van.jpeg);
	background-size: 100vw 100vh;
	opacity: 0.5;
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 0;
	background-repeat: no-repeat;
}

.GYE, .MTL, .NYC {
	text-decoration: line-through;
}

.navigation {
	font-family:'Lantinghei SC', 'Bitter', serif;
	padding-top:0.313em;
	padding-bottom:0.313em;
	list-style: none;
	padding-left: 0;
	position: fixed;
	text-align: center;
	top:50vh;
	width: 100%;

}

.navigation li{
	display: inline-block;
	height:1.250em;
	width:6.875em;
/*	font-size: 20px;*/
	font-weight: bolder;
}

.navigation a{
	color: #4A7589;
	text-decoration: none;
}

.navigation a:hover{
	background-color: #4A7589;
	color:white;
	font-weight:bold;
}

/* Responsive for mobile ----------- */
@media only screen and (max-width: 414px){
/* Styles */
	html {
		font-size: 1.5em;
	}
	
	.navigation li {
		font-weight: bolder;
		width:200px;
	}
	.navigation {
		top:57vh;
	}
}

/*@media screen and (max-width: 414px) and (orientation : landscape){
	.navigation {
		top:57vh;
	}
}

@media screen and (max-width: 414px) and (orientation : portrait){
	.navigation {
		top:35vh;
	}
}*/