/*@import url(http://fonts.googleapis.com/css?family=Lato|Open+Sans);*/
html {
  	font-family: 'Open Sans', sans-serif;
	background-color: #FFFCEE;
}
.header {
	color:#eee;
	background-image: url(img/surf.jpeg);
	/*padding:20px;*/
	background-size: 100% 100%;
	height:250px;
	position: relative;
}
.header h1 {
	font-size: 80px;
	position: absolute;
	left:50px;
}
#navigation {
	list-style: none;
	float:right;
	height:30px;
	right:20px;
	bottom: 0px;
	position: absolute;
}
#navigation li {
	display: inline;
	text-align: justify;
	margin: 0 20px;
}
body {
	position:relative;
}
.paragraph {
	width:90%;
	margin:0 auto;
}
.paragraph p {
	display: inline-block;
	padding: 0 25px; 
}
#photo {
	border-radius:50%;
	display:block;
	width: 250px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}
#intro, #second{
	width:45%;
	font-family: lato;
}

#contact {
	width:90%;
	margin-left: 6.8%;
	font-family: lato;
	padding-top: 30px;
}

#contact ul {
	list-style: none;
}
